.topnav h1 {
    float: left;
    color: black;
    text-align: center;
    padding: 10px 13px;
    text-decoration: none;
    font-size: 23px;
  }
  
  .topnav {
    overflow: hidden;
    width: 100%;
    background-color: white;
    background: linear-gradient(90deg, #339AC0 0%, #339AC0 26.48%, #4DAE95 100%);
    margin-top: 0px;
  }

  .topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 19px;
  }

  .topnav-right {
    float: right;
  }

